
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: var(--black);

	font-size: 18px;
}

h1, .h1 {
	font-size: 3.8em;
	font-weight: 900;
	margin: 0.5em 0 0.7em;
}

h2, .h2 {
	font-size: 3em;
	font-weight: 800;
	margin: 0.75em 0 0.75em;
}

h3, .h3 {
	font-size: 2.4em;
	font-weight: 700;
	margin: 0.5em 0 0.5em;
}

h4, .h4 {
	font-size: 2em;
	font-weight: 600;
	margin: 0.5em 0 0.5em;
}

h5, .h5 {
	font-size: 1.5em;
	font-weight: 500;
	margin: 0.5em 0 0.5em;
}

h6, .h6 {
	font-size: 1.25em;
	font-weight: 500;
	margin: 0.5em 0 0.5em;
}

p, .p {
	font-size: 1em;
	font-weight: 400;
	margin: 0.5em 0 0.5em;
}

small, .small {
	font-size: 0.8em;
	font-weight: 350;
}
