@use "../utils/vars" as *;

body {
	background-color: $white;
}

#root {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 10%;
	padding-bottom: 10%;
}

* {
	transition: 300ms ease-in-out;

	&:hover,
	&:focus-visible {
		transition-duration: 150ms;
	}

	&:active {
		transition-duration: 20ms;
	}
}
